# name: NodeJS with Vite
#
# on:
#   pull_request:
#     types:
#       - closed
#     branches: [ "main" ]
#
# jobs:
#   build:
#     if: github.event.pull_request.merged == true
#     runs-on: self-hosted
#
#
#     steps:
#       - uses: actions/checkout@v3
#       - name: Set up JDK 17
#         uses: actions/setup-java@v3
#         with:
#           java-version: '17'
#          distribution: 'temurin'
#           cache: maven
#       - name: Build with Maven
#         run: mvn -B package --file pom.xml -Dmaven.test.skip=true
#
